{% capture ugly_workaround %}

<br/>

<figure>
  <img src="https://italiancpp.org/assets/images/about/itcppcon19-crowd.jpg" alt="Italian C++ Conference 2019" style="width:90%">
</figure>

<br/>

<h4>Nato nel 2016, il <i>C++ Day</i> &egrave; un format di eventi creato dall'Italian C++ Community, co-organizzato con partner esterni come aziende e universit&agrave;.</h4>

Il *C++ Day 2026* si terr&agrave; il **17 ottobre** a **Pavia**, organizzato insieme a <a href="https://seavision-group.it/">SEA Vision</a>, che sarà anche host dell&#39;evento presso la propria sede.

La partecipazione &egrave; gratuita, l&#39;evento dura un&#39;intera giornata e sono previsti due coffee break e il pranzo.

<br/>

**Perch&eacute; non puoi mancare:**

🎙️ Tanti **talk tecnici** sullo sviluppo in C++ 🎙️

💬 Networking e interazione 💡

👩‍💼 Interazione con le aziende sponsor 👨‍💼

🆓 Partecipazione **gratuita** 🆓

💙 **Organizzato con passione** dall'Italian C++ Community 💙

<br/>

<h3>Ulteriori dettagli</h3>

L&#39;evento prevede **6 talk tecnici** e **2 workshop** in parallelo alla track principale, due coffee break e il pranzo per fare networking e ricaricare le energie.

Questo format &egrave; pensato per unire **approfondimento tecnico** a momenti di **community** e **condivisione**, offrendo un ambiente accogliente e informale.

<br/>

<h3>Una piccola nota sulla lingua</h3>
<p>Ascoltando i vostri feedback dall&#39;ultima edizione, quest&#39;anno abbiamo deciso di fare un esperimento! L&#39;evento si svolger&agrave; prevalentemente in <strong>italiano</strong>, a parte i talk in inglese debitamente contrassegnati in agenda come. Valuteremo come andr&agrave; per le prossime edizioni.</p>
<br/>

{% endcapture %}

<section class="bg-light-gray text-center">
    <div class="narrow" markdown="1">
{{ ugly_workaround | markdownify }}
    </div>
</section>