{% capture ugly_workaround %}

<br/>

<figure>
  <img src="https://italiancpp.org/assets/images/about/itcppcon19-crowd.jpg" alt="Italian C++ Conference 2019" style="width:90%">
</figure>

<br/>

<h4>Launched in 2016, <i>C++ Day</i> is a community-driven event format by the Italian C++ Community, co-organized with external partners like companies and universities.</h4>

The *C++ Day 2026* will be held in person on **October 17** in **Pavia**.

This event is a joint effort between the *Italian C++ Community* and <a href="https://seavision-group.it/">SEA Vision</a>, who is also generously hosting the event at their venue.

The event is free to attend, runs for an entire day, and includes coffee breaks and lunch.

<br/>

**Why you cannot miss it:**

🎙️ **Tech talks** about C++ development and best practices 🎙️

💬 Face to face networking and activities 💡

👩‍💼 Interaction with company sponsors 👨‍💼

🆓 **Free** to attend 🆓

💙 **Organized with passion** by the Italian C++ Community 💙

<br/>

<h3>In a nutshell</h3>

The *C++ Day 2026* offers a balanced and enriching experience beyond the typical tech conference.

The event offers **one track of technical talks**, one or two afternoon **workshop** tracks, with two coffee breaks and lunch to network and recharge.

This format is designed to combine **deep technical content** with moments of **community** and **conversation** creating a well-rounded experience.

<br/>

{% endcapture %}

<section class="bg-light-gray text-center">
    <div class="narrow" markdown="1">
{{ ugly_workaround | markdownify }}
    </div>
</section>
